@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-clr-primary-50: 236, 253, 245;
  --tw-clr-primary-100: 209, 250, 229;
  --tw-clr-primary-200: 167, 243, 208;
  --tw-clr-primary-300: 110, 231, 183;
  --tw-clr-primary-400: 52, 211, 153;
  --tw-clr-primary-500: 16, 185, 129;
  --tw-clr-primary-600: 5, 150, 105;
  --tw-clr-primary-700: 4, 120, 87;
  --tw-clr-primary-800: 6, 95, 70;
  --tw-clr-primary-900: 6, 78, 59;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #ecfdf5 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #d1fae5 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #a7f3d0 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #6ee7b7 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #34d399 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #10b981 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #059669 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #047857 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #065f46 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #064e3b */
  /* #endregion  /**======== Primary Color =========== */

  --tw-clr-dark: 34, 34, 34; /* #222222 */

  --tw-clr-milky-50: 255, 246, 233; /* #fff6e9 */
  --tw-clr-milky-100: 255, 245, 227; /* #fff5e3 */
  --tw-clr-milky-400: 129, 100, 82; /* #81644a */
  --tw-clr-milky-500: 112, 77, 55; /* #70554f */

  --tw-clr-street-400: 184, 105, 255; /* #b869ff */
  --tw-clr-street-500: 104, 107, 253; /* #686afd */
  --tw-clr-street-800: 1, 22, 39; /* #011627 */

  --tw-clr-monokai-400: 249, 38, 114; /* #f92672 */
  --tw-clr-monokai-500: 102, 217, 239; /* #66d9ef */
  --tw-clr-monokai-800: 39, 40, 34; /* #272822 */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

/* #region  /**=========== Theme =========== */
.accent-gradient {
  @apply from-emerald-500 to-green-500;
}

.dark .accent-gradient {
  @apply from-emerald-400 to-amber-400;
}

.theme-milky {
  --tw-clr-primary-50: var(--tw-clr-milky-50);
  --tw-clr-primary-100: var(--tw-clr-milky-100);
  --tw-clr-primary-400: var(--tw-clr-milky-400);
  --tw-clr-primary-500: var(--tw-clr-milky-500);
}
.theme-milky .accent-gradient {
  @apply from-milky-400 to-milky-500;
}

.theme-street {
  --tw-clr-primary-400: var(--tw-clr-street-400);
  --tw-clr-primary-500: var(--tw-clr-street-500);
  --tw-clr-primary-800: var(--tw-clr-street-800);
}
.theme-street .accent-gradient {
  @apply from-street-400 to-street-500;
}

.theme-monokai {
  --tw-clr-primary-400: var(--tw-clr-monokai-400);
  --tw-clr-primary-500: var(--tw-clr-monokai-500);
  --tw-clr-primary-800: var(--tw-clr-monokai-800);
  --tw-clr-dark: var(--tw-clr-monokai-800);
}
.theme-monokai .accent-gradient {
  @apply from-monokai-400 via-[#7649f3] to-monokai-500;
}
/* #endregion  /**======== Theme =========== */
